<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        다 적기 귀찮으니 별명적기-->
        <typeAlias alias="UserDto" type="com.campus.CtProj.domain.UserDto"/>
        <typeAlias alias="RoomDto" type="com.campus.CtProj.domain.RoomDto"/>
        <typeAlias alias="EnterDto" type="com.campus.CtProj.domain.EnterDto"/>
    </typeAliases>
</configuration>