<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.campus.CtProj.dao.UserMapper">

<!--    <delete id="deleteAll">-->
<!--        DELETE-->
<!--        FROM user_data-->
<!--    </delete>-->

    <delete id="delete" parameterType="String">
        DELETE
        FROM user_data
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="UserDto">
        INSERT INTO user_data (id, password, nickname, filename, filepath, reg_date)
        VALUES (#{id}, #{password}, #{nickname}, #{filenaem}, #{filepath}, now())
    </insert>


    <select id="select" parameterType="String" resultType="UserDto">
        SELECT id,
               password,
               nickname,
               coin,
               level,
               filename,
               filepath,
               reg_date
        FROM user_data
        WHERE id = #{id};
    </select>


    <update id="update" parameterType="UserDto">
        UPDATE user_data
        SET nickname = #{nickname}
          , password = #{password}
          , coin     = #{coin}
          , level    = #{level}
          , filename = #{filename}
          , filepath = #{filepath}
        WHERE id = #{id}
    </update>


</mapper>